CompileFlags:
  CompilationDatabase: c:\Users\Lennard\TI_Labor\gitProjekte\ITSBoard\ITS-BRD-VSC\Programs\StoppuhrASM\out\StoppuhrASM\ITSboard_Assembly\Debug
  Add:
    - -include
    - c:\Users\Lennard\TI_Labor\gitProjekte\ITSBoard\ITS-BRD-VSC\Programs\StoppuhrASM\out\StoppuhrASM\ITSboard_Assembly\Debug\compile_macros.h
